<app-barra></app-barra>
<div class="fixed inset-0 bg-black bg-opacity-70 z-40 justify-center items-center  p-4">
<div class="py-4 px-4 mt-6">
  <form 
    class="mx-auto w-full max-w-lg bg-[#1E293B] p-6 shadow-md rounded-lg text-white"
    #formulario="ngForm" 
    (ngSubmit)="formulario.valid && agregarPelicula()">
    Ingresar película


    <div class="mb-4">
      <input
        type="text"
        name="nombre"
        [(ngModel)]="nombre"
        required
        placeholder="Nombre película"
        class="w-full mt-2 p-2   rounded-md bg-[#334155]"
      />
      <div *ngIf="formulario.submitted && !formulario.controls['nombre']?.valid" class="text-red-500 text-sm">
        El nombre es obligatorio.
      </div>
    </div>

    
    <div class="mb-4">
      <input
        type="text"
        name="descripcion"
        [(ngModel)]="descripcion"
        required
        placeholder="Descripción película"
        class="w-full mt-2 p-2  rounded-md bg-[#334155]"
      />
      <div *ngIf="formulario.submitted && !formulario.controls['descripcion']?.valid" class="text-red-500 text-sm">
        La descripción es obligatoria.
      </div>
    </div>

  
    <div class="mb-4">
      <input
        type="number"
        name="duracion"
        [(ngModel)]="duracion"
        required
        placeholder="Duración película"
        class="w-full mt-2 p-2  rounded-md bg-[#334155]"
        (input)="soloNumeros($event)"
       
      />
      <div *ngIf="formulario.submitted && !formulario.controls['duracion']?.valid" class="text-red-500 text-sm">
        La duración es obligatoria.
      </div>
    
    </div>

    <div class="mb-4">
      <input
        type="text"
        name="imagen"
        [(ngModel)]="imagen"
        required
        placeholder="Url imagen película"
        class="w-full mt-2 p-2   rounded-md bg-[#334155]"
      />
      <div *ngIf="formulario.submitted && !formulario.controls['imagen']?.valid" class="text-red-500 text-sm">
        La URL de la imagen es obligatoria.
      </div>
    </div>

   
    <div class="mb-4">
      <label for="idCategoria" class="block text-white">Categoría</label>
      <select 
        name="idCategoria" 
        [(ngModel)]="idCategoria" 
        required 
        class="w-full mt-2 p-2  rounded-md bg-[#334155]">
        <option *ngFor="let categoria of categorias" [value]="categoria.value">
          {{ categoria.label }}
        </option>
      </select>
      <div *ngIf="formulario.submitted && !formulario.controls['idCategoria']?.valid" class="text-red-500 text-sm">
        La categoría es obligatoria.
      </div>
    </div>
    <div class="flex items-center justify-center">
        <button
        (click)="volver()"
        class="mr-5 text-white bg-[#334155] hover:bg-cyan-800   font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        Cancelar
        </button>
        <button
        type="submit"
        class="text-white bg-cyan-500 hover:bg-cyan-800   font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        Enviar
        </button>
    </div>    
  </form>

 </div>