
<div class=" flex justify-between items-center mx-auto p-6 text-white text-center h-20"  >
  
    <button class="bg-cyan-500 hover:bg-cyan-800  font-medium py-2 px-4 rounded" 
     (click)="cerrarSesion()">
      Volver ⬅️
    </button>
    <div class="flex gap-1 md:gap-2 text-white">
      <a class="p-1 font-semibold text-sm" [routerLink]="'/ingresarPelicula'"  routerLinkActive=" border-b-2">Ingresar película</a>
      <a class="p-1 font-semibold text-sm" [routerLink]="'/buscarPelicula'"  routerLinkActive=" border-b-2">Buscar película</a>
      <a class="p-1 font-semibold text-sm" [routerLink]="'/listarPeliculas'"  routerLinkActive=" border-b-2">Listar películas</a>

    </div>
  </div>
  