<app-barra></app-barra>

<div class="w-full mx-auto mt-4 px-4 sm:w-[38%]">
  <form class="bg-white shadow-md rounded px-4 pt-6 pb-8" #form="ngForm">
    <div class="mb-4">
        Buscar película
      <label class="block text-gray-700 text-sm font-bold mb-2" for="idPelicula">
        Ingrese Id de la película
      </label>
      <input 
        id="idPelicula" 
        name="idPelicula" 
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  
        type="number"  
        required 
        [(ngModel)]="idPelicula" min="1">
    </div>
    <div class="flex items-center justify-center">
      <button 
        class="text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600  sm:hover:bg-red-800 sm:focus:ring-red-700" 
        type="button" 
        (click)="buscarPelicula()">
        Buscar
      </button>
    </div>
  </form>
</div>

<div  *ngIf="data && data.length > 0" class="overflow-x-auto shadow-md sm:rounded-lg mt-8 w-4/5 flex justify-center mx-auto">
    
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="font-semibold w-full text-sm text-left rtl:text-right text-gray-800 dark:text-gray-100 rounded border-[#3581cb]">
        <thead class="text-xs text-white uppercase bg-[#23619f] dark:text-white">
          <tr>
            <th scope="col" class="px-2 py-3 text-start sm:w-2/6w-4/12 lg:w-1/4">Película</th>
            <th scope="col" class="px-2 py-3 text-start sm:w-4/6  bg-[#2d6eae]  w-8/12 lg:w-1/2" >Descripción</th>
            <th scope="col" class="hidden lg:table-cell px-2 py-3 text-start lg:w-1/12">Categoría</th>
            <th scope="col" class="hidden lg:table-cell px-2 py-3 bg-[#2d6eae]  text-start lg:w-1/12">Duración</th>
            <th scope="col" class="hidden lg:table-cell px-2 py-3 text-start w-2/6">Likes</th>
          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data" class="bg-[#e8e8e8] border-b border-[#65ccff] hover:bg-yellow-500 hover:text-white">
            <div class="text-blue-900 text-start px-2 md:text-center">{{ d.nombre }}</div>
            <td class="px-2 py-4 flex md:justify-center ">
             
              <img
                [src]="d.imagen"
                alt="{{ d.nombre }}"
                class="w-36 h-36 object-cover cursor-pointer justify-start"
               
              />
            
            </td>
            <div class="pb-2">
              <div class="text-start px-2 text-neutral-500 lg:hidden md:text-center">{{ d.categoria.nombre }}</div>
              <div class="text-start px-2 text-neutral-500 lg:hidden md:text-center">{{ d.duracion }} min</div>
              <div class="text-start px-2 text-neutral-500 lg:hidden md:text-center">{{ d.puntuacion }} ❤️</div>
            </div>
            <td class="px-2 py-2 text-start align-top pt-7">{{ d.descripcion }}</td>
            <td class="hidden px-2 py-2 text-start align-top pt-7 lg:table-cell">{{ d.categoria.nombre }}</td>
            <td class="hidden px-2 py-2 text-start align-top pt-7 lg:table-cell">{{ d.duracion }} min</td>
            <td class="hidden px-2 py-2 text-start align-top pt-7 lg:table-cell">{{ d.puntuacion}}</td>
         
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div *ngIf="errorMessage" class="text-red-500 mt-4 text-center">
    {{ errorMessage }}
  </div>
