<div class="container mx-auto p-4">
  <!-- Formulario - barra vertical en móviles, horizontal en pantallas más grandes -->
  <div class="flex justify-center items-center mb-4">
    <form class="w-full sm:max-w-lg space-y-4" (ngSubmit)="onSubmit()">
      <div class="flex flex-col sm:flex-row sm:space-x-4 mb-5">
        
        <!-- Campo Usuario -->
        <div class="flex flex-col sm:w-1/2 mb-4 sm:mb-0">
          <input 
            type="text" 
            id="usuario" 
            placeholder="admin" 
            required 
            [(ngModel)]="usuario" 
            name="usuario" 
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
          />
        </div>

        <!-- Campo Contraseña -->
        <div class="flex flex-col sm:w-1/2">
          <input 
            type="password" 
            id="password" 
            placeholder="clave123" 
            required 
            [(ngModel)]="password" 
            name="password" 
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
          />
        </div>

        <!-- Botón Entrar - Centrado -->
        <div class="flex justify-center sm:w-2/4 mt-4 sm:mt-0">
          <button 
            type="submit" 
            class="text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600  sm:hover:bg-red-800 sm:focus:ring-red-700"
          >
            Entrar
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Título -->
  <h1 class="mb-4 text-3xl font-extrabold text-blue-500 dark:text-yellow-300 md:text-5xl lg:text-6xl text-center">
    <span class="bg-gradient-to-r from-[#ffffff] via-[#c8e3ff] to-[#add6ff] text-transparent bg-clip-text">
      Ranking de películas
    </span>
  </h1>

  <!-- Tabla -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="font-semibold w-full text-sm text-left rtl:text-right text-gray-800 dark:text-gray-100 rounded border-[#3581cb]">
      <thead class="text-xs text-white uppercase bg-[#23619f] dark:text-white">
        <tr>
          <th scope="col" class="px-6 py-3 align-top">ID</th>
          <th scope="col" class="px-6 py-3 align-top">Nombre</th>
          <th scope="col" class="px-6 py-3 align-top">Descripción</th>
          <th scope="col" class="px-6 py-3 align-top">Duración (min)</th>
          <th scope="col" class="px-6 py-3 text-center align-top">Likes</th>
          <th scope="col" class="px-6 py-3 align-top">Dar like ❤️</th>
          <th scope="col" class="px-6 py-3 align-top">Categoría</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data" class="bg-[#e8e8e8] border-b border-[#65ccff] hover:bg-yellow-500 hover:text-white">
          <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-gray-100">{{ d.id }}</td>
          <td class="px-6 py-4">{{ d.nombre }}</td>
          <td class="px-6 py-4">{{ d.descripcion }}</td>
          <td class="px-6 py-4">{{ d.duracion }}</td>
          <td class="px-6 py-4 text-center">{{ d.puntuacion }}</td>
          <td class="px-6 py-4">
            <img
              [src]="d.imagen"
              alt="{{ d.nombre }}"
              class="w-16 h-16 object-cover cursor-pointer"
              (click)="darLike(d.id)"
            />
          </td>
          <td class="px-6 py-4">{{ d.categoria.nombre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Error Message -->
<div *ngIf="errorMessage" class="text-red-500 mt-4">
  {{ errorMessage }}
</div>
